#events {
    overflow: hidden;
}

/*
#events_wrapper
{
	width: 100% !important;
	height: 100% !important;
	position: fixed;
}
*/

#event_form, #event_list
{
	position:fixed !important;
    width: 100%;
	height: 50%;
}
/*
#event_map
{
	position:fixed;
}
*/

#event_form, #event_list {
    top: 55%;
}

#event_form
{
	background-color: #000;
	color: #fff;
}

#event_list
{
    font-size: .9em;
	background-color: #C81F45;
	padding: 0;
    overflow-y: scroll;
    width: 105.5%;
}
.list_marker
{
 	width: 97%;
/*    height: 23.5%;*/
	margin: 0px 0 0 0;
	padding: 0px;
    background-color:#FFF;
    position:relative;
    border:3px solid #C81F45;
    padding-bottom: 0px;
}

#content
{
/*    padding-top:10px;*/
    font-size: 1.2em;
    padding-bottom:0px;
}
#time
{
    font-size: .75em;   
}
.list-marker
{
    position: relative;
    
}
.list_marker:last-of-type {
    margin-bottom: 62px;
}

.list_marker div
{
	/*display: inline-block;
	margin: 0 5px 0 5px;*/
/*	padding: 5px 5px 5px 5px;*/
/*    height:90%;*/
    width:93%;
    background-color: #fff;
    padding: 0;
}
.list_marker img
{
    float:left;
    padding:0;
    margin 0px;
    width: 35px;
}

#event_form ul
{
	list-style: none;
	padding: 0;
	margin:0;
}
#event_form ul li
{

	margin:0;
	padding: 0;
}
.error
{
	border: 2px solid red;
}
.glow
{
	box-shadow: 0px 0px 15px 5px #FF0000;
}