@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);

body {
    overflow: hidden;
    background-color: white;
    max-width: 100%;
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
/*    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;*/
}

#header {
/*    overflow: hidden;*/
    position: fixed;
    top: 0;
    background-color: #C81F45;
    color: #FFF;
    height: 10%;
    width: 100%;
    text-align:center;
}

#title {
    font-weight: bold;
    font-size: 20px;
}

#main {
/*    overflow: -moz-scrollbars-none;*/
    font-size: 20px;
    color: #000;
    margin-top: 65px;
    margin-left: 10px;
    margin-right: 10px;
    height: 80%;
    width: 95%;
    position: static;
    z-index: -1;
}

#footer {
    background-color: #FFF;
    color: #FFF;
    position: fixed;
    bottom: 0;
    height: 10%;
    width: 100%;
}

#tab {
    text-align:center;
    width: 100%;
    
}

#tab td { 
    padding: 5px 10px 5px 10px;
    width: 25%;
    background-color: #C5CED2;
}

#tab a {
    text-decoration:none;
    color: #C81F45;
}


#social:active {
    background-color: #7C878F;
    color: #fff;
}

#social a:active {
    color: #fff;   
}

#events:active {
    background-color: #7C878F;
    color: #C81F45;
}

#events a:active {
    color: #fff;   
}

#jobcentral:active {
    background-color: #7C878F;
    color: #C81F45;
}

#jobcentral a:active {
    color: #fff;   
}


#settings:active {
    background-color: #7C878F;
    color: #C81F45;
}

#settings a:active {
    color: #fff;   
}

    



    