*  { 
	/*Prevent copy paste for all elements except text fields*/
	-webkit-user-select: none;
	-webkit-tap-highlight-color:rgba(255, 255, 255, 0);
}

input, textarea {
	-webkit-user-select:text;
}

h1 {
	white-space: normal !important;
    padding-left: 20px !important;
}

body {
	background-color: white;
	color: black;
	overflow: hidden;
	max-width: 100%;
	margin: 0;
}

.header {
	background-color: #C81F45;
	color: #FFF;
	width: 100%;
	text-align: center;
}

.header div a img
{
	margin:0;
	padding: 0;
}

.right { 
	float:right !important;
}

.left { 
	float:left !important;
}

.footer {
	width: 100%;
	height: 50px;

}
.footer img
{
    width: 40px;
}
.menubutton
{
    float: right;
    position: relative;
    right: 5px;
    top: 2px;
}

.menubar {
	height: 47px !important;
	width: 105% !important;
	position: fixed;
	background: whitesmoke;
	margin-left: -17.5px;
    z-index: 999;
}

.no_margin {
	margin-top: 0px;
}

.social_main_toggle {
	margin-top: 70px;
}

.menulist {
	background: whitesmoke;
	width: 100%;
}

.menulist li {
    background: whitesmoke;
	display: inline;
}

.social_icons {
    background: whitesmoke;
	font-size: 35px;
	padding: 2px;
	height: 35px;
	width: 35px;
}


.ui-block-a {
	height: 50px !important;
}
#official, #twitter_main, #facebook_main, #instagram_main, #youtube_main, #blog_main
{
	padding: .2em .5em .5em .5em !important;
    z-index: -1;
}

#open { 
	width: 100% !important; 
	height: 80% !important;
}

#profile input
{
	width: 90%;
}
.refresh
{
    width: 100%;
}
.inner_refresh
{
    text-align: center;
}
.refresh p, .refresh img
{
    margin: 0 !important;
    padding:0 !important;
}
.refresh p
{
    line-height:.8em;
    font-size: .8em;

}
.refresh img
{

}
.swiper
{
    width: 100%;
    height: 5em;
    background-color: #000;
}