#avatar_input input
{
	width: 100%;

<<<<<<< HEAD
}
#avatar_thumbnail
{
	width: 30px;
	height: 30px;
	padding: 0;
	margin:0;
}
#testing
{
	width: 300px !important;
	overflow-y:scroll;
	height: 12em;
	word-wrap:break-word;
=======
>>>>>>> 9c2b785171035a6c4da74571951573fdf498a90d
}