.post
{
    border-bottom: solid 1px #e0e0e0;
    margin-top: 10px;
    background-color: white;
}
.post_user_name
{
    display:inline;
}

.post_user_name
{
    font-size: .9em;
    color: blue;
}
.post_time
{
    position: relative;
    height: 1em;
    font-size: .75em;
    font-style: italic;
    color: gray;
    margin-top: 5px;
}
.post_entry
{
    margin-left: 60px;
    width: 70%;
}
.post .left img
{
    float: left;
    width: 50px;
    height: 50px;
}

.instagram_image
{
    width: 100%;
}
.post_content
{
    display: block;
    margin-top: -5px;
}

.info_line
{
    font-weight: bold;
    float: center;
    margin-top: -2px;
    margin-bottom: -8px
}

.info_bottom
{
    position: relative;
    float: right;
    height: 1em;
    font-size: .75em;
    font-style: italic;
    color: gray;
    margin-top: -10px;
    margin-bottom: 10px;
}

b
{
    font-weight: bold;
}

.first
{
}
.last
{
   
}
.post_content span:nth-of-type(2)
{
    display:none;
}
.more_trigger, .less_trigger
{
    padding-left: 1em;
    color: teal;
    font-size: .75em;
    font-style: italic;
}

.post p span span:hover {
    text-decoration: underline;
}
