.post
{
/*	border:1px solid #666;*/
    border-bottom: 1px solid #666;
/*    border-right: 1px solid #666;*/
/*	border-radius: 1px;*/
	padding: 10px 10px;
	margin-top: 5px;
    background-color: white;
}
.post_user_name, .post_screen_name
{
    display:inline;
    margin-left: 5px;
}
.post_screen_name
{
    font-weight: 900;
    
}
.post_user_name
{
    font-size: .9em;
    color: blue;
}
.post_time
{
    font-size: .75em;
    font-style: italic;
    color: grey;
}
.post img
{
	float: left;
    width: 35px;
}
.post_content
{
    display: block;
    border-bottom: 1px dashed red;
    border-top: 1px dashed red;
}
b
{
	font-weight: bold;
}

.first
{
/*	margin-top:15px;
*/}
.last
{
	margin-bottom: 5px;
}
.post_content span:nth-of-type(2)
{
	/*display:inline;*/
    display:none;
}
.more_trigger, .less_trigger
{
	padding-left: 1em;
	color: teal;
	font-size: .75em;
	font-style: italic;
}

.post p span span:hover {
    text-decoration: underline;
}
